# Ignored directories
DerivedDataCache/
Binaries/
Intermediate/
Saved/
Build/
Content/Textures
Content/Materials

# Ignored files
Nightterror.opensdf
Nightterror.sdf
Nightterror.sln
Nightterror.v12.suo

# Exceptions

