# Ignored directories
DerivedDataCache/
Binaries/
Intermediate/
Saved/
Content/Textures/*

# Ignored files
Nightterror.opensdf
Nightterror.sdf
Nightterror.sln
Nightterror.v12.suo

# Exceptions
!Content/Textures/crosshair.uasset
